    body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-color: #000;
    color: white;
    overflow: hidden;
    text-align: center;
    font-size: 3vh;
}

.canvas-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.canvas {
    width: 4800px;
    height: 2700px;
    position: relative;
    background: url('img/piso.png') no-repeat center center;
    background-size: 100%;
}

.canvas-container::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
    background-color: transparent;
}

.canvas-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 0.5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    font-weight: 400;
}

nav {
    padding: 0 10%;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6A0DAD;
}

#menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    right: 2%;
    z-index: 1002;
    padding: 0;
}

#menu-button img {
    width: 1.5rem;
    height: auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#fullscreen-menu {
    display: none;
    position: fixed;
    top: 5%;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    text-align: left;
    padding-top: 2%;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

#fullscreen-menu.open {
    display: block;
    transform: translateX(0);
}

#fullscreen-menu ul {
    list-style: none;
    padding: 0;
}

#fullscreen-menu ul li {
    margin: 10% 5%;
}

#fullscreen-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s;
}

#fullscreen-menu footer {
    margin: 15% 0;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

#fullscreen-menu footer a:hover {
    color: #6A0DAD;
}

@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    #fullscreen-menu {
        display: none;
    }

    header h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    nav {
        display: none;
    }

    #menu-button {
        display: flex;
        align-items: center;
    }

    header h1 {
        font-size: 1.5rem;
    }
}

.section {
    position: absolute;
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

#seccion1 {
    top: 200px;
    left: 300px;
}

#seccion2 {
    top: 1000px;
    left: 1000px;
}

#seccion3 {
    top: 1500px;
    left: 1800px;
}

#seccion4 {
    top: 600px;
    left: 1800px;
}

.section-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.section-img-container {
    width: 150px; /* Ajusta el tamaño que prefieras */
    height: 150px; /* Mismo valor para hacerlo circular */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 1); /* Sombra más pronunciada en el lado inferior derecho */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px; /* Centra el contenedor y agrega espacio inferior */
}

/* Imagen de la primera sección: rotación hacia la izquierda */
#seccion1 .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(-35deg); /* Rotación de 15 grados hacia la izquierda */
}

/* Imagen de la segunda sección: sin rotación (normal) */
#seccion2 .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(-45deg); /* No tiene rotación */
}

/* Imagen de la tercera sección: rotación hacia la derecha */
#seccion3 .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(-12deg); /* Rotación de 15 grados hacia la derecha */
}

/* Imagen de la cuarta sección: sin rotación (normal) */
#seccion4 .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(-12deg); /* Rotación de 15 grados hacia la derecha */
}

.telefono-container {
    position: absolute;
    top: 1000px; /* Ajusta como desees */
    left: 1500px; /* Ajusta como desees */
    width: 200px;
    height: auto;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,9); /* sombra más pegada */
    border-radius: 20px; /* bordes redondeados */
    transition: transform 0.3s ease;
    pointer-events: auto;
    overflow: hidden; /* para que respete el borde redondeado */
}

.telefono-container.vibrando {
    animation: vibrar 0.3s ease-in-out;
}

@keyframes vibrar {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(2deg); }
    40% { transform: rotate(-2deg); }
    60% { transform: rotate(2deg); }
    80% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.telefono-img {
    width: 110%;
    display: block;
    position: relative;
    z-index: 1;
}

.video-wrapper {
    position: absolute;
    top: 17%;
    left: 11%;
    width: 95%;
    height: 66%;
    z-index: 2;
    overflow: hidden;
    pointer-events: none; /* Para evitar que el usuario haga clic */
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}


